#heading {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .container1 p {
    border: 2px solid black;
  }
  
  body .container1 .paragraph1 {
    color: red;
  }

  .container2 #paragraph3 {
    color: rgb(43, 187, 21);
    margin-left: 70px;
    margin-right: 60px;
    margin-top: 50px;

  }
  
  body .container1 #paragraph2 {
    color: rgb(60, 23, 207);
  }
  
  
  
  .container2 #paragraph4 {
    color: rgb(244, 11, 11);
    margin-left: 70px;
    margin-right: 60px;
    margin-top: 50px;
  }